@import './mixin';
// @import './navbar';

$aqua50: #5fbfa4;
$aqua25: #a7dccd;
$metal5: #f3f3f1;
$metal20: #cfd0c8;
$metal50: #868975;
$metal80: #36372f;
$metal90: #272822;

@font-face {
  font-family: creepyFont;
  src: url(../assets/TheNightLamp-rgWep.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Thasadith', sans-serif;
}
body {
  background-color: #131313;
  color: #ccc5b9;
  justify-content: center;
  align-items: center;
}

#header {
  height: 70px;
  width: 100%;

  position: fixed;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131313;
  color: #fff;
  text-align: center;
  padding: 20px;
  h1 {
    font-size: 3rem;
    font-family: creepyFont;
  }
}
// #header.fixed {
//   position: fixed;
//   z-index: 999;
//   top: 0;
//   left: 0;
// }
nav {
  ul {
    list-style: none;
    display: flex;
    justify-content: center;

    li {
      display: block;
      //position: relative;
      text-decoration: none;
      color: #666;
      padding: 20px 35px;
      transition: all 0.3s;

      ul {
        display: block;

        li {
          padding: 20px 35px;

          &:hover {
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }

    li.current,
    li:hover {
      color: #fff;
      cursor: pointer;
    }
  }
}

#jumbotron {
  @include flexCenter(column);
  width: 100%;
  height: 50vh;
  background-image: url('../assets/creepywoods.jpg');

  #title {
    @include flexCenter(column);
    h1 {
      font-size: 7rem;
      font-family: creepyFont;
      text-shadow: 20px 20px 10px rgb(70, 1, 1);
    }
    p {
      font-size: 3rem;
      color: #000;
      font-weight: 500;
      text-shadow: 1px 5px 10px rgb(70, 1, 1);
    }
  }

  .infoBox {
    @include flexCenter(row);
    .programInfoBox {
      @include flexCenter(column);
      margin: 0 10rem;
      h1 {
        font-size: 5rem;
      }

      p {
        font-size: 3rem;
      }
    }
    img {
      width: 20rem;
      height: 20rem;
      margin: 5rem 10rem 0 10rem;
    }
  }
}

.container {
  @include flexCenter(column);
  h2 {
    font-size: 5rem;
    font-family: creepyFont;
  }
  .tableContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .main-programs {
    display: flex;
  }

  .episode-image {
    height: 70px;
    width: 70px;
  }

  .card {
    display: flex;
    position: relative;
    .card-description {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
      color: #fff;
      width: 100%;

      transform-style: preserve-3d;

      transform: translate3d(0, 140%, 75px);
      -webkit-transition: 0.5s;
      transition: 0.5s;
      opacity: 0;
      z-index: 5;
    }

    &:hover {
      cursor: pointer;
      img {
        filter: blur(5px) brightness(50%) grayscale(50%);
      }
      .card-description {
        top: 1rem;
        opacity: 1;
      }
    }
  }

  #playlist {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 80vw;
    height: 63vh;
    overflow-y: scroll;
    overflow-x: hidden;

    table {
      width: 100%;
      //border-spacing: 9px;

      th,
      td {
        padding: 15px 15%;
        vertical-align: middle;
        text-align: left;
        font-size: 2.5rem;
      }

      th {
        color: $metal50;
        font-size: 0.9em;
        padding-top: 15px;
        cursor: default;
      }

      tr {
        cursor: pointer;
        line-height: 2.5rem;

        td {
          font-size: 2rem;
          border-top: 1px solid $metal80;
          transition: background 0.3s ease;
        }
      }
    }
  }
}
