@import './mixin';
// @import './navbar';

$aqua50: #5fbfa4;
$aqua25: #a7dccd;
$metal5: #f3f3f1;
$metal20: #cfd0c8;
$metal50: #868975;
$metal80: #36372f;
$metal90: #272822;

@font-face {
  font-family: creepyFont;
  src: url(../assets/TheNightLamp-rgWep.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Thasadith', sans-serif;
}
body {
  background-color: #131313;
  color: #ccc5b9;
  justify-content: center;
  align-items: center;
}

audio {
  width: 300px;
  height: 35px;
}

#header {
  height: 70px;
  width: 100%;

  position: fixed;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131313;
  color: #fff;
  text-align: center;
  padding: 20px;
  h1 {
    font-size: 3rem;
    font-family: creepyFont;
  }
}

///// navbar
nav {
  ul {
    list-style: none;
    display: flex;
    justify-content: center;

    li {
      display: block;
      //position: relative;
      text-decoration: none;
      color: #666;
      padding: 20px 35px;
      transition: all 0.3s;

      ul {
        display: block;

        li {
          padding: 20px 35px;

          &:hover {
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }

    li.current,
    li:hover {
      color: #fff;
      cursor: pointer;
    }
  }
}

///// jumbotron
#jumbotron {
  @include flexCenter(column);
  width: 100%;
  height: 50vh;
  background-image: url('../assets/creepywoods.jpg');

  #title {
    @include flexCenter(column);
    h1 {
      font-size: 7rem;
      font-family: creepyFont;
      text-shadow: 20px 20px 10px rgb(70, 1, 1);
    }

    #terror {
      font-size: 3rem;
      color: #000;
      font-weight: 700;
      text-shadow: 1px 5px 10px rgb(70, 1, 1);
      background-color: rgba(210, 204, 204, 0.331);
    }
    #swedish {
      font-size: 2rem;
      color: #000;
      font-weight: 600;
      text-shadow: 1px 5px 10px rgb(70, 1, 1);
      background-color: rgba(210, 204, 204, 0.399);
    }
  }

  .infoBox {
    @include flexCenter(row);
    .programInfoBox {
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin: 0 1rem 0 2.5rem;
      h1 {
        font-size: 5rem;
        font-family: 'Bebas Neue', cursive;
      }

      p {
        font-size: 2rem;
        font-family: 'Bebas Neue', cursive;
        background-color: #1313139f;
        border-radius: 10px;
        padding: 0 1rem;
      }
      .btnContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        img {
          width: 250px;
          height: auto;
          z-index: 30;

          &:hover {
            filter: brightness(50%) grayscale(50%);
          }
        }
        button {
          width: 250px;
          height: 75px;
          margin-right: 3rem;
          &:hover {
            filter: brightness(50%) grayscale(50%);
          }
          background-color: #130000;
          a {
            font-size: 2rem;
            font-family: 'Bebas Neue', cursive;
            color: #fff;
            padding: 0 20px;
          }
        }
      }
    }
    .imgInJumbotron {
      width: 20rem;
      height: 20rem;
      margin: 2.5rem 8rem 0 5rem;
    }
  }
}

///// Programs
.container {
  @include flexCenter(column);
  h2 {
    font-size: 5rem;
    font-family: creepyFont;
    margin: 3rem 0;
  }
  .tableContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .main-programs {
    display: flex;
  }

  .card {
    display: flex;
    position: relative;
    .card-description {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
      color: #fff;
      width: 100%;

      transform-style: preserve-3d;

      transform: translate3d(0, 140%, 75px);
      -webkit-transition: 0.5s;
      transition: 0.5s;
      opacity: 0;
      z-index: 5;
    }

    &:hover {
      cursor: pointer;
      img {
        filter: blur(5px) brightness(50%) grayscale(50%);
      }
      .card-description {
        top: 1rem;
        opacity: 1;
      }
    }
  }

  #playlist {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 90vw;
    height: auto;
    // overflow-y: scroll;
    // overflow-x: hidden;

    border-spacing: 30px;

    th,
    td {
      padding: 15px;
      vertical-align: middle;
      text-align: left;
      font-size: 1.2rem;
    }

    th {
      color: $metal50;
      font-size: 1.5rem;
      padding: 15px;
      cursor: default;
    }

    tr {
      cursor: pointer;
      line-height: 2.5rem;

      td {
        font-size: 1.8rem;
        border-top: 1px solid $metal80;
        transition: background 0.3s ease;
        padding: 10px;
      }
    }
    .episode-image {
      height: 7rem;
      width: 7rem;
    }
  }
}

// Listen Now Page
.container2 {
  @include flexCenter(column);
  font-family: 'Bebas Neue', cursive;
  margin-top: 2rem;

  .listenNowInfoBox {
    width: 80vw;
    height: 40vh;
    @include flexCenter(row);
    padding: 2rem;

    .imgInListenNow {
      width: 300px;
      height: 300px;
    }

    .episodeInfoBox {
      @include flexCenter(column);
      flex-wrap: wrap;
      align-items: flex-start;
      padding-left: 1.5rem;
      h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: 2.8rem;
      }
      h3 {
        font-family: 'Bebas Neue', cursive;
        font-size: 2rem;
        color: #666;
      }
      p {
        font-family: 'Bebas Neue', cursive;
        font-size: 1.5rem;
        color: #868975;
      }
      .btnAudioContainer {
        @include flexCenter(row);
        justify-content: space-between;
        margin-top: 1rem;
        button {
          width: 250px;
          height: 75px;
          margin-left: 3rem;
          &:hover {
            filter: brightness(50%) grayscale(50%);
          }
          background-color: #130000;
          a {
            font-size: 2rem;
            font-family: 'Bebas Neue', cursive;
            color: #fff;
            padding: 0 20px;
          }
        }
      }
    }
  }
}
