@font-face {
  font-family: creepyFont;
  src: url(../assets/TheNightLamp-rgWep.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Thasadith', sans-serif;
}

body {
  background-color: #131313;
  color: #ccc5b9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header {
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #131313;
  color: #fff;
  text-align: center;
  padding: 20px;
}

#header h1 {
  font-size: 3rem;
  font-family: creepyFont;
}

#header.fixed {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li {
  display: block;
  text-decoration: none;
  color: #666;
  padding: 20px 35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav ul li ul {
  display: block;
}

nav ul li ul li {
  padding: 20px 35px;
}

nav ul li ul li:hover {
  color: #fff;
  cursor: pointer;
}

nav ul li.current,
nav ul li:hover {
  color: #fff;
  cursor: pointer;
}

#jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50vh;
  background-image: url("../assets/creepywoods.jpg");
}

#jumbotron #title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#jumbotron #title h1 {
  font-size: 7rem;
  font-family: creepyFont;
  text-shadow: 20px 20px 10px #460101;
}

#jumbotron #title p {
  font-size: 3rem;
  color: #000;
  font-weight: 500;
  text-shadow: 1px 5px 10px #460101;
}

#jumbotron .infoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#jumbotron .infoBox .programInfoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10rem;
}

#jumbotron .infoBox .programInfoBox h1 {
  font-size: 5rem;
}

#jumbotron .infoBox .programInfoBox p {
  font-size: 3rem;
}

#jumbotron .infoBox img {
  width: 25rem;
  height: 25rem;
  margin: 0 10rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container h2 {
  font-size: 5rem;
  font-family: creepyFont;
}

.container .tableContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .main-programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .episode-image {
  height: 70px;
  width: 70px;
}

.container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.container .card .card-description {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 140%, 75px);
          transform: translate3d(0, 140%, 75px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  z-index: 5;
}

.container .card:hover {
  cursor: pointer;
}

.container .card:hover img {
  -webkit-filter: blur(5px) brightness(50%) grayscale(50%);
          filter: blur(5px) brightness(50%) grayscale(50%);
}

.container .card:hover .card-description {
  top: 1rem;
  opacity: 1;
}

.container #playlist {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 80vw;
  height: 63vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container #playlist table {
  width: 100%;
}

.container #playlist table th,
.container #playlist table td {
  padding: 15px 15%;
  vertical-align: middle;
  text-align: left;
  font-size: 2.5rem;
}

.container #playlist table th {
  color: #868975;
  font-size: 0.9em;
  padding-top: 15px;
  cursor: default;
}

.container #playlist table tr {
  cursor: pointer;
  line-height: 2.5rem;
}

.container #playlist table tr td {
  font-size: 2rem;
  border-top: 1px solid #36372f;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
/*# sourceMappingURL=style.css.map */